

*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.header{
    height: 80px;
    background-color: white;
border: 1px solid #000000;

}
.header-svglogotip1{
    width: 93px;
    height: 38.15px;
    padding-left: 175px;
    padding-top: 21px;
}
.header-ul{
    display: flex;
    position: absolute;
    top: 32px;
    left: 349px;
/* font-family: Montserrat Alternates;
font-weight: Regular;
font-size: 12px;
line-height: auto;
letter-spacing: 0; */
/* Наша команда */
font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;


}
.header-ul-li{
    position: static;

}
.header-ul-li2{
    position: static;
    margin-left: 50px;
}
.header-greetings{
    /* Вітаємо, User! */

position: absolute;
width: 94px;
height: 15px;
left: 1171px;
top: 33px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: right;

color: #000000;


}
.main-background{
    background-image: url(./PNGS/background1.jpg);
    width: 100vw;
    height: 3456px;
    z-index: 1;
    background-repeat: no-repeat;
}
.main-white-priamokutnyk{
    width: 80vw;
    height: 3456px;
    background-color: white;
    z-index: 2;
    position: absolute;
    top: 85px;
right: 175px;
}    
.main-zagolovok{
    /* Популярні інетрактивні ігри */
z-index: 10;
position: absolute;
width: 386px;
height: 29px;
left: 527px;
top: 116px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #000000;


}

.line-under-main-zagolovok{
    width: 536px;
    height: 1px;
    background-color: #000000;
    z-index: 10;
    top: 200px;
    left: 450px;
    position: absolute;
}
.main{
    position: absolute;
}
.visokosnyi-year-zag{
    /* Перевір в який рік ти народився */

position: absolute;
width: 283px;
height: 20px;
left: 578px;
top: 250px;
z-index: 10;
font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #000000;


}
/* .visokosnyi-year-input-shadow{
-webkit-box-shadow: 8px 8px 0px 3px rgba(0,0,0,0.58); 
box-shadow: 8px 8px 0px 3px rgba(0,0,0,0.58);
z-index: 10;
} */
.visokosnyi-year-input{
    background-color: #D7D7D7;
    position: absolute;
    top: 300px;
    left: 432px;
    z-index: 10;
    width: 180px;
    height: 35px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.visokosnyi-year-input::placeholder{
   /* Введіть рік народження */

width: 160px;
height: 15px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */
padding-left: 6px;
color: #7E7E7E;

z-index: 11;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.visokosnyi-year-search-button{
     position: absolute;
    top: 300px;
    left: 610px;
    z-index: 10;
    width: 35px;
    height: 35px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #000000;
}
.visokosnyi-year-search-svg{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 310px;
    left: 618px;
    z-index: 11;
}
 
.visokosnyi-year-answer1{
/* Ви народилися у високосний рік! */

position: absolute;
/* width: 212px; */
height: 15px;
left: 796px;
top: 310px;
z-index: 10;
font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: right;

color: #039900;


}
.visokosnyi-year-answer2{
    /* Ви народилися не у високосний рік! */

position: absolute;
width: 230px;
height: 15px;
left: 796px;
top: 310px;
z-index: 10;
font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: right;
display: none;
color: #990000;


}
.visokosnyi-year-underline{
      width: 536px;
    height: 1px;
    background-color: #000000;
    z-index: 10;
    top: 400px;
    left: 450px;
    position: absolute;
}
.random{
  position: absolute;
  top: 180px;
  z-index: 10;
  left: 0;
}
.random-zag{
    width: 100vw;
    position: absolute;
width: 283px;
height: 20px;
left: 578px;
top: 250px;
z-index: 10;
font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
white-space: nowrap;
color: #000000;
}
.random-input::placeholder{
     width: 160px;
height: 15px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */
padding-left: 6px;
color: #7E7E7E;

z-index: 11;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
.random-input{
       background-color: #D7D7D7;
    position: absolute;
    top: 300px;
    left: 432px;
    z-index: 10;
    width: 115px;
    height: 35px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.random-search-button{
     position: absolute;
    top: 300px;
    left: 545px;
    z-index: 10;
    width: 35px;
    height: 35px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #000000;
}
.random-search-svg{
      width: 15px;
    height: 15px;
    position: absolute;
    top: 310px;
    left: 553px;
    z-index: 11;
}
.random-answer1{
/* Ви народилися у високосний рік! */
 white-space: nowrap;
position: absolute;
/* width: 212px; */
height: 15px;
left: 796px;
top: 310px;
z-index: 10;
font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: right;

color: #039900;


}
.random-answer2{
    /* Ви народилися не у високосний рік! */
 white-space: nowrap;
position: absolute;
width: 230px;
height: 15px;
left: 796px;
top: 310px;
z-index: 10;
font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: right;
display: none;
color: #990000;


}
.K-N-P-zag{
    /* Камінь - ножиці - папір */

position: absolute;
width: 195px;
height: 20px;
left: 622px;
top: 630px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
z-index: 10;
color: #000000;

 white-space: nowrap;
}
.K-N-P-svgUl{
    display: flex;
    position: absolute;
    top: 690px;
    left: 600px;
    z-index: 10;
}
.K-N-P-svgUl-li{
    width: 60px;
    height: 60px;
}
.K-N-P-svgUl-li2{
    margin-left: 38px;
}
.K-N-P-scoreUl{
    position: absolute;
    z-index: 10;
    top: 700px;
    right: 450px;
    /* Рахунок: Комп’ютер - 0Ви - 0 */



font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 170%;
/* or 20px */

color: #000000;


}
.K-N-P-answer2{
    /* Комп’ютер виграв раунд! */

position: absolute;
z-index: 10;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */
left: 660px;
top: 800px;
color: #990000;
display: none;

}
.K-N-P-answer1{
    /* Комп’ютер виграв раунд! */

position: absolute;
z-index: 10;

/* Ви виграли раунд! */

position: absolute;

left: 675px;
top: 800px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #039900;


}
.K-N-P-button{/* Варіант комп’ютера */
background-color: #000000;
width: 182px;
height: 35px;
border-radius: 20px;
font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */
z-index: 10;
color: #FFFFFF;
top: 850px;
left: 650px;
position: absolute;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


}
.K-N-P-underline{
       width: 536px;
    height: 1px;
    background-color: #000000;
    z-index: 10;
    top: 920px;
    left: 480px;
    position: absolute;
}
.calculator-megaUl{
    display: flex;
    position: absolute;
    z-index: 10;
    top: 1100px;
    left: 400px;
}
.calculator-megaUl-input1{
      background-color: #D7D7D7;
    position: absolute;
    /* top: -2400px;
    left: 432px; */
    z-index: 10;
    width: 135px;
    height: 35px;
   border-radius: 20px;
   border-style: none;
}
.calculator-megaUl-input1::placeholder{
  padding-left: 23px;
}
.calculator-megaUl-input3{
    left: 450px;
      background-color: #D7D7D7;
    position: absolute;
    z-index: 10;
    width: 115px;
    height: 35px;
   border-radius: 20px;
   border-style: none;
}
.calculator-megaUl-input2::placeholder{
    padding-top: 5px;
    padding-left: 12px;
}
.calculator-megaUl-input2{
     left: 230px;
      background-color: #D7D7D7;
    position: absolute;
   
    z-index: 10;
    width: 115px;
    height: 35px;
   border-radius: 20px;
   border-style: none;
}
.calculator-megaul-operatorsUl{
    position: absolute;
    left: 150px;
    bottom: -53px;
    
}
.calculator-megaUl-dorivnue{
    left: 400px;
    position: absolute;
}
.calculator-megaul-operatorsUl-plusik{
    display: flex;
     margin-top: 15px;
}
.calculator-megaul-operatorsUl-minusik{
    display: flex;
    padding-top: 10px;
}
.calculator-megaul-operatorsUl-operator{
    background-color: black;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    color: white;
  
}
.calculator-megaul-operatorsUl-operator-p{
    padding-top: 4px;
    padding-left: 8px;
}
.calculator-megaul-operatorsUl-operator-2{
   margin-left: 10px;
}
.calculator-megaUl-dorivnue-operator{
        background-color: black;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    color: white;
    position: absolute;
        top: 5px;
        left: -15px;
}
.calculator-megaUl-input3{
      left: 465px;
      background-color: #D7D7D7;
    position: absolute;
   
    z-index: 10;
    width: 115px;
    height: 35px;
   border-radius: 20px;
   border-style: none;
}
.calculator-megaUl-input3::placeholder{
    padding-left: 23px;
}
.calculator-zag{
    /* Калькулятор */

position: absolute;
width: 119px;
height: 20px;
left: 690px;
top: 1000px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #000000;

z-index: 10;
}
.calculator-underline{
       width: 536px;
    height: 1px;
    background-color: #000000;
    z-index: 10;
    top: 1200px;
    left: 480px;
    position: absolute;
}
.timeCalculator-zag{
      width: 100vw;
    position: absolute;
width: 283px;
height: 20px;
left: 673px;
top: 1250px;
z-index: 10;
font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
white-space: nowrap;
color: #000000;
}

.timeCalculator-input::placeholder{
     width: 160px;
height: 15px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */
padding-left: 6px;
color: #7E7E7E;

z-index: 11;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
.timeCalculator-input{
       background-color: #D7D7D7;
    position: absolute;
    top: 1300px;
    left: 500px;
    z-index: 10;
    width: 135px;
    height: 35px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.timeCalculator-search-button{
    position: absolute;
    top: 1300px;
    left: 615px;
    z-index: 10;
    width: 35px;
    height: 35px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #000000;
}
.timeCalculator-search-svg{
       width: 15px;
    height: 15px;
    position: absolute;
    top: 1310px;
    left: 623px;
    z-index: 11;
}
.timeCalculator-points{
    position: absolute;
    top: 1320px;
z-index: 10;

left: 700px;
}
timeCalculator-timer{
    /* 3 дн. 15:45:01 */

position: absolute;
width: 76px;
height: 15px;
left: 803px;
top: 0px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;


color: #000000;

z-index: 10;
}
.timeCalculator-timer{
    position: absolute;
    top: 1320px;
z-index: 10;

left: 800px;


    /* 3 дн. 15:45:01 */

position: absolute;
width: 76px;
height: 15px;
left: 850px;
top: 1315px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;


color: #000000;

z-index: 10;
}
.timeCalculator-underline{
      width: 536px;
    height: 1px;
    background-color: #000000;
    z-index: 10;
    top: 1400px;
    left: 480px;
    position: absolute;
}
.dinosaur-zag{
    /* Google динозавр */
white-space: nowrap;
position: absolute;
width: 145px;
height: 20px;
left: 680px;
top: 1450px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
z-index: 10;
color: #000000;


}
.dinosaur-fon{
    position: absolute;
    z-index: 10;
    height: 241px;
width: 720px;
top: 1450px;
left: 390px;
}
.dinosaur-unit{
    position: absolute;
    top: 1580px;
    left: 450px;
    width: 65px;
    height: 65px;
    z-index: 10;
}
.dinosaur-underline{
       width: 536px;
    height: 1px;
    background-color: #000000;
    z-index: 10;
    top: 1780px;
    left: 480px;
    position: absolute;
}
.football-zag{
    
z-index: 10;
position: absolute;
width: 74px;
height: 20px;
left: 700px;
top: 1850px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #000000;


}
.football-field{
    position: absolute;
    z-index: 10;
    width: 720px;
    height: 220px;
    top: 1900px;
  left: 390px;
  background-color: #5ABB58;
  border-radius: 37px;
  
}
.football-ball{
     position: absolute;
    top: 1980px;
    left: 520px;
    width: 50px;
    height: 50px;
    z-index: 11;
}
.football-corsor{
      position: absolute;
    top: 2000px;
    left: 920px;
    width: 22px;
    height: 22px;
    z-index: 11;
}
.dinosaur-underline{
       width: 536px;
    height: 1px;
    background-color: #000000;
    z-index: 10;
    top: 2150px;
    left: 480px;
    position: absolute;
}
.biggestNum-zag{
    /* Введіть 3 числа */
z-index: 10;
position: absolute;
width: 141px;
height: 20px;
left: 660px;
top: 2200px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #000000;


}
.biggestNum-inputs{
    position: absolute;
    top: 2300px;
    left: 500px;
    display: flex;
    z-index: 10;
}

.biggestNum-input{
    width: 135px;
    height: 35px;
    background-color: #D7D7D7;
    border-radius: 20px;
    border-style: none;
}
.biggestNum-input-2{
margin-left: 38px;
}
.biggestNum-input-3{
   margin-left: 38px;
}

.biggestNum-input::placeholder{
 /* Введіть число */

width: 95px;
height: 15px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #7E7E7E;

padding-left: 19px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.biggestNum-result{
/* Найбільше число, яке ви ввели - (число) */

position: absolute;
width: 252px;
height: 15px;
left: 594px;
top: 2370px;
z-index: 10;
font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */
white-space: nowrap;
color: #000000;


}
.biggestNum-underline{
        width: 536px;
    height: 1px;
    background-color: #000000;
    z-index: 10;
    top: 2430px;
    left: 480px;
    position: absolute;
}
.students-arrows{
    position: absolute;
    top: 2500px;
    z-index: 10;
    left: 400px;
}
.students-arrows-li2{
     position: absolute;
    z-index: 10;
left: 560px;
bottom: 0;
}
.students-arrows-li-style{
    border-style: none;
    background: none;
     height: 150px;
    width: 150px;
    border-radius: 20px;
}
.students-imgs{
    position: absolute;
    z-index: 10;
    top: 2490px;
    left: 675px;
}
.students-imgs-img{
    height: 150px;
    width: 150px;
    border-radius: 20px;
    position: absolute;
}
.students-names{
      position: absolute;
    z-index: 10;
    top: 2665px;
    left: 725px;
}
.student-name{
    position: inherit;
    z-index: inherit;
    top: 0;
    left: 0;
    /* Ім’я студента */



font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #000000;


}
.students-names li:not(:first-child){
    display: none;
}
.students-jobs{
     position: absolute;
    z-index: 10;
    top: 2690px;
    left: 680px;
}
.students-job{
    top: 0;
    left: 0;
    position: inherit;
    z-index: inherit;
    white-space: nowrap;
font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;


}
.students-jobs li:not(:first-child){
    display: none;
}
.students-order{
    width: 18px;
    z-index: inherit;
    height: 3px;
    background-color: #D9D9D9;
}
.students-orders{
    position: absolute;
    display: flex;
z-index: 10;
top: 2750px;
left: 670px;
}
.students-orders li:not(:first-child){
    margin-left: 6px;
}
.students-underline{
      width: 536px;
    height: 1px;
    background-color: #000000;
    z-index: 10;
    top: 2800px;
    left: 480px;
    position: absolute;
}
.last-human{
    width: 100px;
    height: 100px;
    z-index: 10;
     border-radius: 20px;
    /* position: absolute; */
}
.last-human-button{
    border-style: none;
    background: none;
}
.last-people-group{
    display: flex;
z-index: 10;
position: static;

}
.last-people-group li:not(:first-child){
    margin-left: 59px;
    z-index: 10;
   
}
.last-people{
    z-index: 10;
    position: absolute;
    top: 2900px;
    left: 460px;
}
.last-people ul>li>ul:not(:first-child){
   margin-top: 36px;
}
.last-zag{
    /* Обери вченого/их */
    
position: absolute;
top: 2850px;
left: 675px;
z-index: 10;
font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #000000;


}
.last-buttons{
    position: absolute;
    z-index: 10;
    top: 3250px;
    left: 300px;
}
.last-buttons-button{
    background-color: #000000;
    height: 35px;
    color: white;
    border-radius: 20px;
    /* Які вчені народилися в 19 ст. */

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: right;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.last-buttons-group{
    display: flex;
}
.last-buttons-group li:not(:first-child){
    position: static;
    margin-left: 490px;
    white-space: nowrap;
}
.last-buttons-group li:not(:last-child){
position: absolute;
    white-space: nowrap;
right: 555px;
}
.last-buttons li:not(:first-child){
    position:static;
    margin-top: 0px;


}
.last-buttons-button-izgoy{
    position: absolute;
    right: 255px;
    white-space: nowrap;
    margin-top: 20px;
}
.last-buttons-li{
    position: static;
       margin-top: 20px;
}
.last-buttons-group2{
    margin-top: 20px;
    position: static;
}
